@model IEnumerable<WebApplication1.Db.Class>

@{
    ViewData["Title"] = "Enroll";
}

@ViewBag.ErrorMessage

<h2>Enroll</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(minicstructorContext => minicstructorContext.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(minicstructorContext => minicstructorContext.ClassDescription)
            </th>
            <th>
                @Html.DisplayNameFor(minicstructorContext => minicstructorContext.ClassPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in DatabaseAccessor.instance.Class)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassPrice)
                </td>
                <td>
                    @Html.ActionLink("Enroll", "Enroll", new { classId = item.ClassId })
                </td>
            </tr>
        }
    </tbody>
</table>
